<a href="https://colab.research.google.com/github/hakenlaken/2021LoadMonitoring/blob/main/%D0%A7%D0%B0%D1%81%D1%82%D1%8C1_%D0%9F%D0%BE%D0%B4%D1%81%D1%87%D0%B5%D1%82_%D0%BA%D0%BE%D1%8D%D1%84%D1%84%D0%B8%D1%86%D0%B8%D0%B5%D0%BD%D1%82%D0%B0_%D0%BA%D0%BE%D1%80%D1%80%D0%B5%D0%BB%D1%8F%D1%86%D0%B8%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
import pandas as pd

In [83]:
2 + 2

4

In [84]:
db = pd.read_csv('/content/data_2_test.csv')
db

      2021-05-10T17:23:31.173801      0  0.0%  0.1%
0     2021-05-10T17:23:32.178767      0  0.0%  0.1%
1     2021-05-10T17:23:33.182515      0  0.0%  0.1%
2     2021-05-10T17:23:34.186250      0  0.0%  0.1%
3     2021-05-10T17:23:35.189961      0  1.0%  0.1%
4     2021-05-10T17:23:36.193675      0  0.0%  0.1%
...                          ...    ...   ...   ...
2046  2021-05-10T17:57:46.459064  60980  0.0%  0.1%
2047  2021-05-10T17:57:47.462933  61010  1.0%  0.1%
2048  2021-05-10T17:57:48.467148  61010  0.0%  0.1%
2049  2021-05-10T17:57:49.470988  61010  0.0%  0.1%
2050  2021-05-10T17:57:50.474892  61010  0.0%  0.1%

[2051 rows x 4 columns]

In [85]:
db.columns = ['data','pi','cpu','ram']
db.head(20)

                          data   pi   cpu   ram
0   2021-05-10T17:23:32.178767    0  0.0%  0.1%
1   2021-05-10T17:23:33.182515    0  0.0%  0.1%
2   2021-05-10T17:23:34.186250    0  0.0%  0.1%
3   2021-05-10T17:23:35.189961    0  1.0%  0.1%
4   2021-05-10T17:23:36.193675    0  0.0%  0.1%
5   2021-05-10T17:23:37.197357    0  0.0%  0.1%
6   2021-05-10T17:23:38.201043    0  0.0%  0.1%
7   2021-05-10T17:23:39.205467    0  0.0%  0.1%
8   2021-05-10T17:23:40.208459    0  0.0%  0.1%
9   2021-05-10T17:23:41.212489    0  0.0%  0.1%
10  2021-05-10T17:23:42.216128  309  4.0%  0.1%
11  2021-05-10T17:23:43.220086  589  1.0%  0.1%
12  2021-05-10T17:23:44.224070  631  0.0%  0.1%
13  2021-05-10T17:23:45.228052  631  2.0%  0.1%
14  2021-05-10T17:23:46.232019  710  0.0%  0.1%
15  2021-05-10T17:23:47.236006  835  1.0%  0.1%
16  2021-05-10T17:23:48.239979  841  0.0%  0.1%
17  2021-05-10T17:23:49.244044  841  0.0%  0.1%
18  2021-05-10T17:23:50.248154  841  1.0%  0.1%
19  2021-05-10T17:23:51.252253  841  0.0%  0.1%

In [86]:
db.drop(db.index[:3], inplace=True)
db.head(20)

                          data   pi   cpu   ram
3   2021-05-10T17:23:35.189961    0  1.0%  0.1%
4   2021-05-10T17:23:36.193675    0  0.0%  0.1%
5   2021-05-10T17:23:37.197357    0  0.0%  0.1%
6   2021-05-10T17:23:38.201043    0  0.0%  0.1%
7   2021-05-10T17:23:39.205467    0  0.0%  0.1%
8   2021-05-10T17:23:40.208459    0  0.0%  0.1%
9   2021-05-10T17:23:41.212489    0  0.0%  0.1%
10  2021-05-10T17:23:42.216128  309  4.0%  0.1%
11  2021-05-10T17:23:43.220086  589  1.0%  0.1%
12  2021-05-10T17:23:44.224070  631  0.0%  0.1%
13  2021-05-10T17:23:45.228052  631  2.0%  0.1%
14  2021-05-10T17:23:46.232019  710  0.0%  0.1%
15  2021-05-10T17:23:47.236006  835  1.0%  0.1%
16  2021-05-10T17:23:48.239979  841  0.0%  0.1%
17  2021-05-10T17:23:49.244044  841  0.0%  0.1%
18  2021-05-10T17:23:50.248154  841  1.0%  0.1%
19  2021-05-10T17:23:51.252253  841  0.0%  0.1%
20  2021-05-10T17:23:52.256313  871  0.0%  0.1%
21  2021-05-10T17:23:53.260290  883  0.0%  0.1%
22  2021-05-10T17:23:54.264369  945  1.0%  0.1%

In [87]:
db['delta_pi'] = 0
db['delta_pi'] = db['pi'].diff()
db = db.iloc[1:]
db.head(20)

                          data    pi   cpu   ram  delta_pi
4   2021-05-10T17:23:36.193675     0  0.0%  0.1%       0.0
5   2021-05-10T17:23:37.197357     0  0.0%  0.1%       0.0
6   2021-05-10T17:23:38.201043     0  0.0%  0.1%       0.0
7   2021-05-10T17:23:39.205467     0  0.0%  0.1%       0.0
8   2021-05-10T17:23:40.208459     0  0.0%  0.1%       0.0
9   2021-05-10T17:23:41.212489     0  0.0%  0.1%       0.0
10  2021-05-10T17:23:42.216128   309  4.0%  0.1%     309.0
11  2021-05-10T17:23:43.220086   589  1.0%  0.1%     280.0
12  2021-05-10T17:23:44.224070   631  0.0%  0.1%      42.0
13  2021-05-10T17:23:45.228052   631  2.0%  0.1%       0.0
14  2021-05-10T17:23:46.232019   710  0.0%  0.1%      79.0
15  2021-05-10T17:23:47.236006   835  1.0%  0.1%     125.0
16  2021-05-10T17:23:48.239979   841  0.0%  0.1%       6.0
17  2021-05-10T17:23:49.244044   841  0.0%  0.1%       0.0
18  2021-05-10T17:23:50.248154   841  1.0%  0.1%       0.0
19  2021-05-10T17:23:51.252253   841  0.0%  0.1%       0.0
20  2021-05-10T17:23:52.256313   871  0.0%  0.1%      30.0
21  2021-05-10T17:23:53.260290   883  0.0%  0.1%      12.0
22  2021-05-10T17:23:54.264369   945  1.0%  0.1%      62.0
23  2021-05-10T17:23:55.268361  1021  0.0%  0.1%      76.0

In [88]:
db.head(10)

                          data   pi   cpu   ram  delta_pi
4   2021-05-10T17:23:36.193675    0  0.0%  0.1%       0.0
5   2021-05-10T17:23:37.197357    0  0.0%  0.1%       0.0
6   2021-05-10T17:23:38.201043    0  0.0%  0.1%       0.0
7   2021-05-10T17:23:39.205467    0  0.0%  0.1%       0.0
8   2021-05-10T17:23:40.208459    0  0.0%  0.1%       0.0
9   2021-05-10T17:23:41.212489    0  0.0%  0.1%       0.0
10  2021-05-10T17:23:42.216128  309  4.0%  0.1%     309.0
11  2021-05-10T17:23:43.220086  589  1.0%  0.1%     280.0
12  2021-05-10T17:23:44.224070  631  0.0%  0.1%      42.0
13  2021-05-10T17:23:45.228052  631  2.0%  0.1%       0.0

In [89]:
pd.options.mode.chained_assignment = None
db['cpu'] = list(map(lambda x: x[:-1], db['cpu'].values))
db['ram'] = list(map(lambda x: x[:-1], db['ram'].values))

In [90]:
db

                            data     pi  cpu  ram  delta_pi
4     2021-05-10T17:23:36.193675      0  0.0  0.1       0.0
5     2021-05-10T17:23:37.197357      0  0.0  0.1       0.0
6     2021-05-10T17:23:38.201043      0  0.0  0.1       0.0
7     2021-05-10T17:23:39.205467      0  0.0  0.1       0.0
8     2021-05-10T17:23:40.208459      0  0.0  0.1       0.0
...                          ...    ...  ...  ...       ...
2046  2021-05-10T17:57:46.459064  60980  0.0  0.1       0.0
2047  2021-05-10T17:57:47.462933  61010  1.0  0.1      30.0
2048  2021-05-10T17:57:48.467148  61010  0.0  0.1       0.0
2049  2021-05-10T17:57:49.470988  61010  0.0  0.1       0.0
2050  2021-05-10T17:57:50.474892  61010  0.0  0.1       0.0

[2047 rows x 5 columns]

In [91]:
db['cpu'] = [float(x) for x in db['cpu'].values]
db['ram'] = [float(x) for x in db['ram'].values]

In [93]:
db.head(30)

                          data    pi  cpu  ram  delta_pi
4   2021-05-10T17:23:36.193675     0  0.0  0.1       0.0
5   2021-05-10T17:23:37.197357     0  0.0  0.1       0.0
6   2021-05-10T17:23:38.201043     0  0.0  0.1       0.0
7   2021-05-10T17:23:39.205467     0  0.0  0.1       0.0
8   2021-05-10T17:23:40.208459     0  0.0  0.1       0.0
9   2021-05-10T17:23:41.212489     0  0.0  0.1       0.0
10  2021-05-10T17:23:42.216128   309  4.0  0.1     309.0
11  2021-05-10T17:23:43.220086   589  1.0  0.1     280.0
12  2021-05-10T17:23:44.224070   631  0.0  0.1      42.0
13  2021-05-10T17:23:45.228052   631  2.0  0.1       0.0
14  2021-05-10T17:23:46.232019   710  0.0  0.1      79.0
15  2021-05-10T17:23:47.236006   835  1.0  0.1     125.0
16  2021-05-10T17:23:48.239979   841  0.0  0.1       6.0
17  2021-05-10T17:23:49.244044   841  0.0  0.1       0.0
18  2021-05-10T17:23:50.248154   841  1.0  0.1       0.0
19  2021-05-10T17:23:51.252253   841  0.0  0.1       0.0
20  2021-05-10T17:23:52.256313   871  0.0  0.1      30.0
21  2021-05-10T17:23:53.260290   883  0.0  0.1      12.0
22  2021-05-10T17:23:54.264369   945  1.0  0.1      62.0
23  2021-05-10T17:23:55.268361  1021  0.0  0.1      76.0
24  2021-05-10T17:23:56.272329  1051  0.0  0.1      30.0
25  2021-05-10T17:23:57.276138  1081  1.0  0.1      30.0
26  2021-05-10T17:23:58.280198  1081  1.0  0.1       0.0
27  2021-05-10T17:23:59.284337  1081  0.0  0.1       0.0
28  2021-05-10T17:24:00.288434  1081  0.0  0.1       0.0
29  2021-05-10T17:24:01.292438  1081  0.0  0.1       0.0
30  2021-05-10T17:24:02.296430  1333  2.0  0.1     252.0
31  2021-05-10T17:24:03.300338  2240  7.0  0.1     907.0
32  2021-05-10T17:24:04.304180  3063  7.0  0.1     823.0
33  2021-05-10T17:24:05.308432  3670  6.0  0.1     607.0

In [99]:
print(db['cpu'].corr(db['delta_pi']))
print(db['ram'].corr(db['delta_pi']))

0.9048505882782163
8.173811245339547e-17