<a href="https://colab.research.google.com/github/hakenlaken/2021LoadMonitoring/blob/main/%D0%A7%D0%B0%D1%81%D1%82%D1%8C2_%D0%9F%D1%80%D0%BE%D0%B3%D0%BD%D0%BE%D0%B7%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D1%81_%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%D1%8E_%D0%9D%D0%B5%D0%B9%D1%80%D0%BE%D0%BD%D0%BD%D0%BE%D0%B9_%D1%81%D0%B5%D1%82%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [346]:
import pandas as pd

In [347]:
#!pip uninstall scikit-learn -y

#!pip install -U scikit-learn

In [348]:
2 + 2

4

In [349]:
db = pd.read_csv('/content/data_2_test.csv')
db

      2021-05-10T17:23:31.173801      0  0.0%  0.1%
0     2021-05-10T17:23:32.178767      0  0.0%  0.1%
1     2021-05-10T17:23:33.182515      0  0.0%  0.1%
2     2021-05-10T17:23:34.186250      0  0.0%  0.1%
3     2021-05-10T17:23:35.189961      0  1.0%  0.1%
4     2021-05-10T17:23:36.193675      0  0.0%  0.1%
...                          ...    ...   ...   ...
2046  2021-05-10T17:57:46.459064  60980  0.0%  0.1%
2047  2021-05-10T17:57:47.462933  61010  1.0%  0.1%
2048  2021-05-10T17:57:48.467148  61010  0.0%  0.1%
2049  2021-05-10T17:57:49.470988  61010  0.0%  0.1%
2050  2021-05-10T17:57:50.474892  61010  0.0%  0.1%

[2051 rows x 4 columns]

In [350]:
db.columns = ['data','pi','cpu','ram']
db.head(20)

                          data   pi   cpu   ram
0   2021-05-10T17:23:32.178767    0  0.0%  0.1%
1   2021-05-10T17:23:33.182515    0  0.0%  0.1%
2   2021-05-10T17:23:34.186250    0  0.0%  0.1%
3   2021-05-10T17:23:35.189961    0  1.0%  0.1%
4   2021-05-10T17:23:36.193675    0  0.0%  0.1%
5   2021-05-10T17:23:37.197357    0  0.0%  0.1%
6   2021-05-10T17:23:38.201043    0  0.0%  0.1%
7   2021-05-10T17:23:39.205467    0  0.0%  0.1%
8   2021-05-10T17:23:40.208459    0  0.0%  0.1%
9   2021-05-10T17:23:41.212489    0  0.0%  0.1%
10  2021-05-10T17:23:42.216128  309  4.0%  0.1%
11  2021-05-10T17:23:43.220086  589  1.0%  0.1%
12  2021-05-10T17:23:44.224070  631  0.0%  0.1%
13  2021-05-10T17:23:45.228052  631  2.0%  0.1%
14  2021-05-10T17:23:46.232019  710  0.0%  0.1%
15  2021-05-10T17:23:47.236006  835  1.0%  0.1%
16  2021-05-10T17:23:48.239979  841  0.0%  0.1%
17  2021-05-10T17:23:49.244044  841  0.0%  0.1%
18  2021-05-10T17:23:50.248154  841  1.0%  0.1%
19  2021-05-10T17:23:51.252253  841  0.0%  0.1%

In [351]:
db.drop(db.index[:3], inplace=True)
db.head(20)

                          data   pi   cpu   ram
3   2021-05-10T17:23:35.189961    0  1.0%  0.1%
4   2021-05-10T17:23:36.193675    0  0.0%  0.1%
5   2021-05-10T17:23:37.197357    0  0.0%  0.1%
6   2021-05-10T17:23:38.201043    0  0.0%  0.1%
7   2021-05-10T17:23:39.205467    0  0.0%  0.1%
8   2021-05-10T17:23:40.208459    0  0.0%  0.1%
9   2021-05-10T17:23:41.212489    0  0.0%  0.1%
10  2021-05-10T17:23:42.216128  309  4.0%  0.1%
11  2021-05-10T17:23:43.220086  589  1.0%  0.1%
12  2021-05-10T17:23:44.224070  631  0.0%  0.1%
13  2021-05-10T17:23:45.228052  631  2.0%  0.1%
14  2021-05-10T17:23:46.232019  710  0.0%  0.1%
15  2021-05-10T17:23:47.236006  835  1.0%  0.1%
16  2021-05-10T17:23:48.239979  841  0.0%  0.1%
17  2021-05-10T17:23:49.244044  841  0.0%  0.1%
18  2021-05-10T17:23:50.248154  841  1.0%  0.1%
19  2021-05-10T17:23:51.252253  841  0.0%  0.1%
20  2021-05-10T17:23:52.256313  871  0.0%  0.1%
21  2021-05-10T17:23:53.260290  883  0.0%  0.1%
22  2021-05-10T17:23:54.264369  945  1.0%  0.1%

In [352]:
db['delta_pi'] = 0
db['delta_pi'] = db['pi'].diff()
db = db.iloc[1:]
db.head(20)

                          data    pi   cpu   ram  delta_pi
4   2021-05-10T17:23:36.193675     0  0.0%  0.1%       0.0
5   2021-05-10T17:23:37.197357     0  0.0%  0.1%       0.0
6   2021-05-10T17:23:38.201043     0  0.0%  0.1%       0.0
7   2021-05-10T17:23:39.205467     0  0.0%  0.1%       0.0
8   2021-05-10T17:23:40.208459     0  0.0%  0.1%       0.0
9   2021-05-10T17:23:41.212489     0  0.0%  0.1%       0.0
10  2021-05-10T17:23:42.216128   309  4.0%  0.1%     309.0
11  2021-05-10T17:23:43.220086   589  1.0%  0.1%     280.0
12  2021-05-10T17:23:44.224070   631  0.0%  0.1%      42.0
13  2021-05-10T17:23:45.228052   631  2.0%  0.1%       0.0
14  2021-05-10T17:23:46.232019   710  0.0%  0.1%      79.0
15  2021-05-10T17:23:47.236006   835  1.0%  0.1%     125.0
16  2021-05-10T17:23:48.239979   841  0.0%  0.1%       6.0
17  2021-05-10T17:23:49.244044   841  0.0%  0.1%       0.0
18  2021-05-10T17:23:50.248154   841  1.0%  0.1%       0.0
19  2021-05-10T17:23:51.252253   841  0.0%  0.1%       0.0
20  2021-05-10T17:23:52.256313   871  0.0%  0.1%      30.0
21  2021-05-10T17:23:53.260290   883  0.0%  0.1%      12.0
22  2021-05-10T17:23:54.264369   945  1.0%  0.1%      62.0
23  2021-05-10T17:23:55.268361  1021  0.0%  0.1%      76.0

In [353]:
db.head(10)

                          data   pi   cpu   ram  delta_pi
4   2021-05-10T17:23:36.193675    0  0.0%  0.1%       0.0
5   2021-05-10T17:23:37.197357    0  0.0%  0.1%       0.0
6   2021-05-10T17:23:38.201043    0  0.0%  0.1%       0.0
7   2021-05-10T17:23:39.205467    0  0.0%  0.1%       0.0
8   2021-05-10T17:23:40.208459    0  0.0%  0.1%       0.0
9   2021-05-10T17:23:41.212489    0  0.0%  0.1%       0.0
10  2021-05-10T17:23:42.216128  309  4.0%  0.1%     309.0
11  2021-05-10T17:23:43.220086  589  1.0%  0.1%     280.0
12  2021-05-10T17:23:44.224070  631  0.0%  0.1%      42.0
13  2021-05-10T17:23:45.228052  631  2.0%  0.1%       0.0

In [354]:
pd.options.mode.chained_assignment = None
db['cpu'] = list(map(lambda x: x[:-1], db['cpu'].values))
db['ram'] = list(map(lambda x: x[:-1], db['ram'].values))

In [355]:
db

                            data     pi  cpu  ram  delta_pi
4     2021-05-10T17:23:36.193675      0  0.0  0.1       0.0
5     2021-05-10T17:23:37.197357      0  0.0  0.1       0.0
6     2021-05-10T17:23:38.201043      0  0.0  0.1       0.0
7     2021-05-10T17:23:39.205467      0  0.0  0.1       0.0
8     2021-05-10T17:23:40.208459      0  0.0  0.1       0.0
...                          ...    ...  ...  ...       ...
2046  2021-05-10T17:57:46.459064  60980  0.0  0.1       0.0
2047  2021-05-10T17:57:47.462933  61010  1.0  0.1      30.0
2048  2021-05-10T17:57:48.467148  61010  0.0  0.1       0.0
2049  2021-05-10T17:57:49.470988  61010  0.0  0.1       0.0
2050  2021-05-10T17:57:50.474892  61010  0.0  0.1       0.0

[2047 rows x 5 columns]

In [356]:
db['cpu'] = [float(x) for x in db['cpu'].values]
db['ram'] = [float(x) for x in db['ram'].values]

In [357]:
db.head(30)

                          data    pi  cpu  ram  delta_pi
4   2021-05-10T17:23:36.193675     0  0.0  0.1       0.0
5   2021-05-10T17:23:37.197357     0  0.0  0.1       0.0
6   2021-05-10T17:23:38.201043     0  0.0  0.1       0.0
7   2021-05-10T17:23:39.205467     0  0.0  0.1       0.0
8   2021-05-10T17:23:40.208459     0  0.0  0.1       0.0
9   2021-05-10T17:23:41.212489     0  0.0  0.1       0.0
10  2021-05-10T17:23:42.216128   309  4.0  0.1     309.0
11  2021-05-10T17:23:43.220086   589  1.0  0.1     280.0
12  2021-05-10T17:23:44.224070   631  0.0  0.1      42.0
13  2021-05-10T17:23:45.228052   631  2.0  0.1       0.0
14  2021-05-10T17:23:46.232019   710  0.0  0.1      79.0
15  2021-05-10T17:23:47.236006   835  1.0  0.1     125.0
16  2021-05-10T17:23:48.239979   841  0.0  0.1       6.0
17  2021-05-10T17:23:49.244044   841  0.0  0.1       0.0
18  2021-05-10T17:23:50.248154   841  1.0  0.1       0.0
19  2021-05-10T17:23:51.252253   841  0.0  0.1       0.0
20  2021-05-10T17:23:52.256313   871  0.0  0.1      30.0
21  2021-05-10T17:23:53.260290   883  0.0  0.1      12.0
22  2021-05-10T17:23:54.264369   945  1.0  0.1      62.0
23  2021-05-10T17:23:55.268361  1021  0.0  0.1      76.0
24  2021-05-10T17:23:56.272329  1051  0.0  0.1      30.0
25  2021-05-10T17:23:57.276138  1081  1.0  0.1      30.0
26  2021-05-10T17:23:58.280198  1081  1.0  0.1       0.0
27  2021-05-10T17:23:59.284337  1081  0.0  0.1       0.0
28  2021-05-10T17:24:00.288434  1081  0.0  0.1       0.0
29  2021-05-10T17:24:01.292438  1081  0.0  0.1       0.0
30  2021-05-10T17:24:02.296430  1333  2.0  0.1     252.0
31  2021-05-10T17:24:03.300338  2240  7.0  0.1     907.0
32  2021-05-10T17:24:04.304180  3063  7.0  0.1     823.0
33  2021-05-10T17:24:05.308432  3670  6.0  0.1     607.0

In [358]:
print(db['cpu'].corr(db['delta_pi']))
print(db['ram'].corr(db['delta_pi']))

0.9048505882782135
8.957601364755651e-17

In [359]:
db.head(30)
db.reset_index(inplace=True)

In [360]:
db["data"] = pd.to_datetime(db['data'], format='%Y-%m-%dT%H:%M:%S.%f')
db['TimeStamp'] = 1

In [361]:
past_seconds = 5

#for second in range(past_seconds):
#  s = second+1
#  db[f"delta_pi_back_{s}s"] = db["delta_pi"].shift(s)

db["delta_pi_5s_mean"] = db["delta_pi"].shift(1).rolling(window=5).median()
db["delta_pi_15s_mean"] = db["delta_pi"].shift(1).rolling(window=15).median()
db["delta_pi_25s_mean"] = db["delta_pi"].shift(1).rolling(window=25).median()
db["delta_pi_35s_mean"] = db["delta_pi"].shift(1).rolling(window=35).median()
db["delta_pi_45s_mean"] = db["delta_pi"].shift(1).rolling(window=45).median()
db["delta_pi_55s_mean"] = db["delta_pi"].shift(1).rolling(window=55).median()
db["delta_pi_65s_mean"] = db["delta_pi"].shift(1).rolling(window=65).median()

In [362]:

db.dropna(inplace=True)
db.head(50)

     index                       data  ...  delta_pi_55s_mean  delta_pi_65s_mean
65      69 2021-05-10 17:24:41.458148  ...                6.0                0.0
66      70 2021-05-10 17:24:42.462143  ...                6.0                6.0
67      71 2021-05-10 17:24:43.466108  ...                6.0                6.0
68      72 2021-05-10 17:24:44.470091  ...                6.0                6.0
69      73 2021-05-10 17:24:45.473739  ...                9.0                9.0
70      74 2021-05-10 17:24:46.477273  ...                9.0                9.0
71      75 2021-05-10 17:24:47.480448  ...               12.0               12.0
72      76 2021-05-10 17:24:48.484392  ...               12.0               12.0
73      77 2021-05-10 17:24:49.488374  ...               12.0               12.0
74      78 2021-05-10 17:24:50.492325  ...                9.0                9.0
75      79 2021-05-10 17:24:51.496308  ...                9.0               11.0
76      80 2021-05-10 17:24:52.500276  ...                6.0                9.0
77      81 2021-05-10 17:24:53.504267  ...                6.0                9.0
78      82 2021-05-10 17:24:54.508219  ...                6.0                9.0
79      83 2021-05-10 17:24:55.513805  ...                6.0                9.0
80      84 2021-05-10 17:24:56.517773  ...                6.0                9.0
81      85 2021-05-10 17:24:57.521729  ...                6.0                9.0
82      86 2021-05-10 17:24:58.525690  ...                6.0                9.0
83      87 2021-05-10 17:24:59.529693  ...                6.0                6.0
84      88 2021-05-10 17:25:00.533645  ...                0.0                6.0
85      89 2021-05-10 17:25:01.537592  ...                0.0                0.0
86      90 2021-05-10 17:25:02.541739  ...                0.0                0.0
87      91 2021-05-10 17:25:03.545702  ...                0.0                0.0
88      92 2021-05-10 17:25:04.549661  ...                0.0                0.0
89      93 2021-05-10 17:25:05.553640  ...                0.0                0.0
90      94 2021-05-10 17:25:06.557634  ...                0.0                0.0
91      95 2021-05-10 17:25:07.561566  ...                0.0                0.0
92      96 2021-05-10 17:25:08.565513  ...                0.0                0.0
93      97 2021-05-10 17:25:09.569463  ...                0.0                0.0
94      98 2021-05-10 17:25:10.581423  ...                0.0                0.0
95      99 2021-05-10 17:25:11.585338  ...                0.0                0.0
96     100 2021-05-10 17:25:12.589276  ...                0.0                0.0
97     101 2021-05-10 17:25:13.593195  ...                0.0                0.0
98     102 2021-05-10 17:25:14.597121  ...                0.0                0.0
99     103 2021-05-10 17:25:15.601047  ...                0.0                0.0
100    104 2021-05-10 17:25:16.604985  ...                0.0                0.0
101    105 2021-05-10 17:25:17.608605  ...                0.0                0.0
102    106 2021-05-10 17:25:18.612497  ...                0.0                0.0
103    107 2021-05-10 17:25:19.616481  ...                0.0                0.0
104    108 2021-05-10 17:25:20.620359  ...                0.0                0.0
105    109 2021-05-10 17:25:21.624309  ...                0.0                0.0
106    110 2021-05-10 17:25:22.628377  ...                0.0                0.0
107    111 2021-05-10 17:25:23.632337  ...                0.0                0.0
108    112 2021-05-10 17:25:24.636291  ...                0.0                0.0
109    113 2021-05-10 17:25:25.640229  ...                0.0                0.0
110    114 2021-05-10 17:25:26.644170  ...                0.0                0.0
111    115 2021-05-10 17:25:27.648127  ...                0.0                0.0
112    116 2021-05-10 17:25:28.652068  ...                0.0                0.0
113    117 2021-05-10 17:25:29.656018  ...                0.0                0.0
114    118 2021-05-10 17:25:30.659015  ...                0.0                0.0

[50 rows x 14 columns]

In [363]:
db.reset_index(inplace=True)
db.head(30)

    level_0  index  ... delta_pi_55s_mean  delta_pi_65s_mean
0        65     69  ...               6.0                0.0
1        66     70  ...               6.0                6.0
2        67     71  ...               6.0                6.0
3        68     72  ...               6.0                6.0
4        69     73  ...               9.0                9.0
5        70     74  ...               9.0                9.0
6        71     75  ...              12.0               12.0
7        72     76  ...              12.0               12.0
8        73     77  ...              12.0               12.0
9        74     78  ...               9.0                9.0
10       75     79  ...               9.0               11.0
11       76     80  ...               6.0                9.0
12       77     81  ...               6.0                9.0
13       78     82  ...               6.0                9.0
14       79     83  ...               6.0                9.0
15       80     84  ...               6.0                9.0
16       81     85  ...               6.0                9.0
17       82     86  ...               6.0                9.0
18       83     87  ...               6.0                6.0
19       84     88  ...               0.0                6.0
20       85     89  ...               0.0                0.0
21       86     90  ...               0.0                0.0
22       87     91  ...               0.0                0.0
23       88     92  ...               0.0                0.0
24       89     93  ...               0.0                0.0
25       90     94  ...               0.0                0.0
26       91     95  ...               0.0                0.0
27       92     96  ...               0.0                0.0
28       93     97  ...               0.0                0.0
29       94     98  ...               0.0                0.0

[30 rows x 15 columns]

In [364]:
df = db

In [365]:
df

      level_0  index  ... delta_pi_55s_mean  delta_pi_65s_mean
0          65     69  ...               6.0                0.0
1          66     70  ...               6.0                6.0
2          67     71  ...               6.0                6.0
3          68     72  ...               6.0                6.0
4          69     73  ...               9.0                9.0
...       ...    ...  ...               ...                ...
1977     2042   2046  ...               0.0                0.0
1978     2043   2047  ...               0.0                0.0
1979     2044   2048  ...               0.0                0.0
1980     2045   2049  ...               0.0                0.0
1981     2046   2050  ...               0.0                0.0

[1982 rows x 15 columns]

In [366]:
df.drop(['level_0','data','index','cpu','ram','pi'], axis=1, inplace=True)
df.head(30)

    delta_pi  TimeStamp  ...  delta_pi_55s_mean  delta_pi_65s_mean
0        9.0          1  ...                6.0                0.0
1       30.0          1  ...                6.0                6.0
2        0.0          1  ...                6.0                6.0
3       35.0          1  ...                6.0                6.0
4        0.0          1  ...                9.0                9.0
5       35.0          1  ...                9.0                9.0
6       30.0          1  ...               12.0               12.0
7       36.0          1  ...               12.0               12.0
8        0.0          1  ...               12.0               12.0
9       11.0          1  ...                9.0                9.0
10       0.0          1  ...                9.0               11.0
11      30.0          1  ...                6.0                9.0
12       0.0          1  ...                6.0                9.0
13       6.0          1  ...                6.0                9.0
14       0.0          1  ...                6.0                9.0
15       0.0          1  ...                6.0                9.0
16      30.0          1  ...                6.0                9.0
17       0.0          1  ...                6.0                9.0
18       0.0          1  ...                6.0                6.0
19       0.0          1  ...                0.0                6.0
20       0.0          1  ...                0.0                0.0
21      30.0          1  ...                0.0                0.0
22       0.0          1  ...                0.0                0.0
23       0.0          1  ...                0.0                0.0
24       0.0          1  ...                0.0                0.0
25       0.0          1  ...                0.0                0.0
26      30.0          1  ...                0.0                0.0
27       0.0          1  ...                0.0                0.0
28       0.0          1  ...                0.0                0.0
29       0.0          1  ...                0.0                0.0

[30 rows x 9 columns]

In [367]:
X = df # Входные данные
Y = df["delta_pi"] # Выход

In [368]:
for i in pd.isnull(X):
  if i is True:
    print("yes")

In [369]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20)

In [370]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1585, 9)
(397, 9)
(1585,)
(397,)

In [371]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [425]:
#prediction = model.predict(X_test)

In [426]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import max_error

#print("MAE", mean_absolute_error(y_test, prediction))
#print("MAX", max_error(y_test, prediction))

In [374]:
#from sklearn.neural_network import MLPRegressor
#
#model = MLPRegressor(random_state=42)

#from sklearn.model_selection import GridSearchCV

#param_grid = {
#    "hidden_layer_sizes" : [(100,100),(200,120),(200,100),(120,200), (400,100,27), (400,100)],
#    "activation" : ["relu"],
#    "solver" : ["adam"],
#    "alpha" : [0.0001, 0.0005, 0.0010, 0.0015, 0.0020, 0.0025, 0.0035, 0.0045, 0.00025],
#    "max_iter" : [400,500,600,700],
#}
#GS = GridSearchCV(model, param_grid, scoring = "neg_mean_squared_error", cv=5, n_jobs=-1)
#GS.fit(X_train, y_train)

In [375]:
#GS.best_score_

In [376]:
#GS.best_params_

In [427]:
from sklearn.neural_network import MLPRegressor

model = MLPRegressor(hidden_layer_sizes=(400,100,27), alpha=0.00025, max_iter=400, tol=1e-3, n_iter_no_change = 5,random_state=42)

model.fit(X_train, y_train)
prediction = model.predict(X_test)
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

print("MAE", mean_absolute_error(y_test, prediction))
print("MAX", max_error(y_test, prediction))
print("MSE", mean_squared_error(y_test, prediction))
print("MAPE",mean_absolute_percentage_error(prediction,y_test))

MAE 0.02093936100154637
MAX 0.6525902004975137
MSE 0.005098226104220236
MAPE 0.6882706651345688